<!DOCTYPE html>
<html lang="en">

<head>
	<title>AQI Calculator</title>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0TZKZLEKRT"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-0TZKZLEKRT');
	</script>

	<!-- <link rel="shortcut icon" type="image/*" href="favicon.png" /> -->
	<link rel="shortcut icon" type="image/*" href="{{ url_for('static', filename='img/favicon.png') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="AQI_Calculator">
	<!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
		</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- <script src="index.js"></script> -->
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r122/three.min.js"
		integrity="sha512-bzjaf85dHTL4H0BvkAJ/Jbvxqf1rDj+jVpCNe3oxQj/RXSnkx1HnKhqIcmMWghxEAbXsYgddrc38saWpltlkug=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
	<script>
		$(document).ready(function () {
			$(".hamburger").click(function () {
				$(this).toggleClass("is-active");
			});
		});
	</script>
	<script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>

<body onload="loaded()" style="padding-right: 0px; background-color: black;">

	<!-- <div class="row" id="loading" style="color: white; width: 100%; height: 100%; 

	display: flex; justify-content: center; align-items: center;
	font-size: 3em;
	position: fixed;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px double;
	border-color: rgb(255, 255, 255) transparent;
	animation:
	1.6s cubic-bezier(0.68, 1.12, 1, 1) 0s infinite normal none running spin;
	">
		<div id="LoaderId">
		</div>
		<script>
			$("#loading").css("top", parseInt(screen.height / 2))
			$("#loading").css("left", parseInt(screen.width / 2) - 30)
		</script>
	</div> -->
	<!-- <script>
		let scene, camera, renderer, starGeo, stars;
		var screenW = window.innerWidth;
		var screenH = window.innerHeight;
		var spdx = 0, spdy = 0; mouseX = 0, mouseY = 0, mouseDown = false;

		document.addEventListener('mousemove', function (event) {
			mouseX = event.clientX;
			mouseY = event.clientY;
		}, false);

		document.body.addEventListener("mousedown", function (event) {
			mouseDown = true
		}, false);

		document.body.addEventListener("mouseup", function (event) {
			mouseDown = false
		}, false);

		function init() {
			scene = new THREE.Scene();
			camera = new THREE.PerspectiveCamera(90, window.innerWidth / window.innerHeight, 1, 1000000);
			camera.position.z = 1;
			camera.rotation.x = Math.PI / 2;

			renderer = new THREE.WebGLRenderer();
			renderer.setSize(window.innerWidth, window.innerHeight);
			document.body.appendChild(renderer.domElement);


			//First star
			starGeo = new THREE.Geometry();
			for (let i = 0; i < 1000; i++) {
				star = new THREE.Vector3(
					Math.random() * 600 - 300,
					Math.random() * 600 - 300,
					Math.random() * 600 - 300
				);
				star.velocity = 0;
				star.acceleration = 0.02;
				starGeo.vertices.push(star);
			}
			let sprite = new THREE.TextureLoader().load('{{ url_for("static", filename="img/star.png") }}');
			let starMaterial = new THREE.PointsMaterial({
				color: 0xffffff,
				size: 0.7,
				map: sprite
			});

			stars = new THREE.Points(starGeo, starMaterial);
			scene.add(stars);

			//Second star
			starGeo = new THREE.Geometry();
			for (let i = 0; i < 4; i++) {
				star = new THREE.Vector3(
					Math.random() * 600 - 300,
					Math.random() * 600 - 300,
					Math.random() * 600 - 300
				);
				star.velocity = 0.2;
				star.acceleration = 0.2;
				starGeo.vertices.push(star);
			}
			let sprite2 = new THREE.TextureLoader().load('{{ url_for("static", filename="img/star.png") }}');
			let starMaterial2 = new THREE.PointsMaterial({
				color: 0xf25e06,
				size: 2,
				map: sprite2
			});

			stars2 = new THREE.Points(starGeo, starMaterial2);
			scene.add(stars2);
			animate();
		}

		function onWindowResize() {
			camera.aspect = window.innerWidth / window.innerHeight;
			camera.updateProjectMatrix();
			renderer.setSize(window.innerWidth, window.innerHeight);
		}

		function animate() {

			camera.rotation.x = mouseX * 0.0005
			camera.rotation.y = mouseY * 0.0005
			starGeo.vertices.forEach(p => {
				p.velocity += .001;
				p.opacity = Math.random();
				p.y -= p.velocity;
				if (p.y < -200) {
					p.y = 200;
					p.velocity = 0;
				}
			});
			starGeo.verticesNeedUpdate = true;
			stars.rotation.y += 0.0002;
			stars.opacity = Math.random() / 2;

			spdy = (screenH / 2 - mouseY) / 40;
			spdx = (screenW / 2 - mouseX) / 40;
			if (mouseDown) {
				stars.rotation.x = spdy;
				stars.rotation.y = spdx;
			}

			renderer.render(scene, camera);
			requestAnimationFrame(animate);
		}
		init();
	</script> -->
	<nav class="navbar navbar-expand-xl navbar-dark bg-primary fixed-top blur">
		<div class="container-fluid">
			<a class="navbar-brand" href="https://github.com/RebelAKL" target="_blank">Dushyant Kaushal</a>
			<div class="row" style="margin-bottom: 0px;">
				<div class="col">
					<div class="hamburger navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main_nav"
						aria-expanded="false" aria-label="Toggle navigation" id="hamburgerId">
						<span class="line"></span>
						<span class="line"></span>
						<span class="line"></span>
					</div>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="main_nav">
				<ul class="navbar-nav nav-fill w-100">
					<li class="nav-item active"> <a class="nav-link" href=""><i class="fas fa-home"></i>&nbsp;Home</a></li>
					
					<li class="nav-item"><a class="nav-link" href="https://github.com/RebelAKL" target="_blank"><i class="fa-solid fa-briefcase"></i>&nbsp;My Portfolio</a></li>
					
					<li class="nav-item"><a class="nav-link" href="https://github.com/RebelAKL" target="_blank"><i class="fa-brands fa-github"></i>&nbsp;GitHub</a></li>
					<li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/dushyant--kaushal/" target="_blank"><i class="fa-brands fa-linkedin"></i>&nbsp;LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<a id="backToTop" href="#content">

		<svg xmlns="http://www.w3.org/2000/svg" style="
		
						border-radius: 2em; color: rgb(255, 255, 255);" width="36" height="36" fill="currentColor"
			class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
			<path fill-rule="evenodd"
				d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
		</svg>

	</a>
	<div id="content" style="padding: 0em;">
		<script src="https://cdn.jsdelivr.net/npm/tsparticles@1.18.4/dist/tsparticles.min.js"></script>
		<!-- <div id="tsparticles" style="
			position: fixed;
			display: block;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 0 !important;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
		"></div> -->
		<!-- <script src="tsParticlesHome.js"> -->
		<script src="{{ url_for('static', filename='js/tsParticlesHome.js') }}"></script>
		</script>
		<!-- <div id="particles-js" style="
			position: fixed;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 0 !important;
			background-image: url(''); 
			background-repeat: no-repeat; 
			background-size: cover; 
			background-position: 50% 50%;
		"></div> -->
		<!-- <script src="{{ url_for('static', filename='js/vanilla-tilt.js') }}"></script> -->
		<script>
			
			particlesJS.load('particles-js', '{{ url_for("static", filename="js/particlesHome.json") }}', function () {
			});
		</script>
		<script>
			function getFontFamily() {
				// Get the user's operating system
				var operatingSystem = navigator.platform.toLowerCase();

				// Define default font family
				var defaultFontFamily = '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif';

				// Set font family based on operating system
				var fontFamily;
				if (operatingSystem.indexOf('win') !== -1) {
					// Windows
					fontFamily = 'Open Sans, Segoe UI, sans-serif';
				} else if (operatingSystem.indexOf('mac') !== -1) {
					// macOS
					fontFamily = '-apple-system, BlinkMacSystemFont, Helvetica, sans-serif';
				} else if (operatingSystem.indexOf('linux') !== -1) {
					// Linux
					fontFamily = 'Open Sans, Ubuntu, DejaVu Sans, sans-serif';
				} else {
					// Default for other systems
					fontFamily = defaultFontFamily;
				}
				return fontFamily;
			}
			
		</script>
		<br><br><br><br>
		<div style="animation: upAndDown 5s linear infinite alternate-reverse; margin-bottom: 1em; padding: .3em;
			/* background-color: rgb(255 255 255 / 10%); */
			backdrop-filter: blur(4px);
			-webkit-backdrop-filter: blur(4px);
			">
			<br>
			<h1 style="color: white; text-align: center; ">
				
				<!-- <strong style="background: linear-gradient(to right, #0033ff, #b6fbff);
				color: white; text-align: center; 
				animation: shine 10s linear infinite;
				-webkit-background-clip: text;
				background-clip: text;
				background-size: 400% 400%;
				-webkit-text-fill-color: transparent;">
					AirCast
				</strong>
				& -->
				<strong style="background: linear-gradient(to left, #0033ff, #b6fbff);
				color: white; text-align: center; 
				animation: shine 10s linear infinite;
				-webkit-background-clip: text;
				background-clip: text;
				background-size: 400% 400%;
				-webkit-text-fill-color: transparent;
				">
					AQI Calculator 
				</strong>
				
			</h1>
			<br>
			<h2 style="color: white;text-align: center;font-size: 1.6rem;">Calculate Air Quality Index.</h2>
			<br>
			
		
			
			<p style="color: white; font-size: 22px;">
			
				
			</p>
			
		</div>
	
		<div class="row">
			
			<div class="col">
				<div id="div4" data-aos="fade-down" data-aos-duration="2500" data-aos-easing="ease-out-cubic"
					data-aos-mirror="true" data-aos-once="true" style="
					color: white;
					background-color: rgb(255 255 255 / 10%);
					backdrop-filter: blur(4px);
					-webkit-backdrop-filter: blur(4px);
					border-radius: 2em;
					padding: 1em;
					margin: 2.3em;
					margin-right: 1.4em;
					">
					<div class="row">
						<div class="col">
							<h2>
								<strong>
									Calculate AQI now.
								</strong>
							</h2>
							
							<h5>Concentration in µg/m3 (except for CO)</h5>

							<form method="POST" action="/predict" id="inputValues">
								<h5>
									<strong>PM2.5</strong> <input id="PM2.5" name="PM2.5" min="0" placeholder="Enter PM2.5" required type="number" style="margin: 20px;" value="{{ input_text_PM25 }}">
									<strong>NO</strong>    <input id="NO" name="NO" min="0" placeholder="Enter NO" required type="number" style="margin: 20px;" value="{{ input_text_NO }}"> <br><br>
									<strong>NO2</strong>   <input id="NO2" name="NO2" min="0" placeholder="Enter NO2" required type="number" style="margin: 20px;" value="{{ input_text_NO2 }}">
									<strong>NOx</strong>   <input id="NOx" name="NOx" min="0" placeholder="Enter NOx" required type="number" style="margin: 20px;" value="{{ input_text_NOx }}"> <br><br>
									<strong>SO2</strong>   <input id="SO2" name="SO2" min="0" placeholder="Enter SO2" required type="number" style="margin: 20px;" value="{{ input_text_SO2 }}">
									<strong>CO</strong>    <input id="CO" name="CO" min="0" placeholder="Enter CO" required type="number" style="margin: 20px;" value="{{ input_text_CO }}">
									<br><br>
									<div style="
										display: flex;
										font-size: 30px;
										flex-direction: row;
										align-content: center;
										justify-content: space-evenly;
										align-items: center;
										">
										<button type="submit" id="submitButton" class="btn btn-primary" style="font-size: 1.5rem;">
											<i class="fas fa-check"></i>
											Submit
										</button>
										<!-- {% if predicted_aqi %} -->
										Predicted AQI is 
										<span id="predicted_aqi_and_scale">
											<!-- <span id="predicted_aqi_and_scale_1">{{ predicted_aqi }}</span>  ( {{predicted_aqi_scale}} ) -->
										</span>
										<!-- {% endif %} -->
									</div>
									
								</h5>
								<br>
								<span style="font-size: 18px;"><strong>Note:</strong> If you do not have value for any field, input it as 0.</span>
							</form>							
						</div>
					</div>
					
					<script>
						currentUrl = window.location.href
						if (currentUrl.includes('/predict')) {
							var targetElement = document.getElementById('submitButton');

							if (targetElement) {
								targetElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
							}
						}

						const form = document.getElementById('inputValues');
						form.addEventListener("keyup", () => {
							document.getElementById('submitButton').disabled = !form.checkValidity()
						});
						form.addEventListener("change", () => {
							document.getElementById('submitButton').disabled = !form.checkValidity()
						});
						predicted_aqi = 0
						if (document.getElementById("predicted_aqi_and_scale_1") != null)
							predicted_aqi = document.getElementById("predicted_aqi_and_scale_1").innerHTML
						if (predicted_aqi < 50) {
							predicted_aqi_scale_color = "#00b050";
						}
						else if (predicted_aqi > 50 && predicted_aqi <= 100) {
							predicted_aqi_scale_color = "#92d050";
						} 
						else if (predicted_aqi > 100 && predicted_aqi <= 200) {
							predicted_aqi_scale_color = "#ff0";
						}
						else if (predicted_aqi > 200 && predicted_aqi <= 300) {
							predicted_aqi_scale_color = "#ff9a00";
						}
						else if (predicted_aqi > 300 && predicted_aqi <= 400) {
							predicted_aqi_scale_color = "#f00";
						}
						else if (predicted_aqi > 400 && predicted_aqi <= 5000) {
							predicted_aqi_scale_color = "#c00000";
						}
						
						if (document.getElementById("predicted_aqi_and_scale") != null)
							document.getElementById("predicted_aqi_and_scale").style.color = predicted_aqi_scale_color
					</script>
				</div>

			
		</div>
		<div class="col">
			<div id="div3" data-aos="fade-down" data-aos-duration="2500" data-aos-easing="ease-out-cubic"
				data-aos-mirror="true" data-aos-once="true" style="
				color: white;
				/* background-color: rgb(255 255 255 / 10%); */
				backdrop-filter: blur(4px);
				-webkit-backdrop-filter: blur(4px);
				border-radius: 2em;
				padding: 1em;
				margin: 2.3em;
				margin-right: 1.4em;
				">
				<div class="row">
					<div class="col" style="text-align: center;">
						<h2>
							<strong>
								AQI Scale
							</strong>
						</h2>
						<style>
							table {
								width: 100%;
								border-collapse: collapse;
								border-radius: 20px;
								overflow: hidden; 
								margin-bottom: 20px;
								font-size: 16px;
							}

							td {
								padding: 8px;
								text-align: left;
							}

							th {
								background-color: rgb(255 255 255 / 10%);
								padding: 8px;
								text-align: left;
								color: white;
							}
						</style>
						<table>
							<tr style="font: 18px;">
								<th>AQI</th>
								<th>Associated Health Impacts</th>
							</tr>
							<tr style="background-color: #00b050; color: black;">
								<td>0-50 (Good)</td>
								<td>Minimal Impact</td>
							</tr>
							<tr style="background-color: #92d050; color: black;">
								<td>51-100 (Satisfactory)</td>
								<td>May cause minor breathing discomfort to sensitive people</td>
							</tr>
							<tr style="background-color: #ff0; color: black;">
								<td>101-200 (Moderate)</td>
								<td>
									May cause breathing discomfort to people with lung diseases (such as asthma) and discomfort to
									people with heart diseases, children, and older adults
								</td>
							</tr>
							<tr style="background-color: #ff9a00; color: black;">
								<td>201-300 (Poor)</td>
								<td>
									May cause breathing discomfort to people on prolonged exposure and discomfort to people with
									heart disease with short exposure
								</td>
							</tr>
							<tr style="background-color: #f00; color: black;">
								<td>301-400 (Very Poor)</td>
								<td>
									May cause respiratory illness in people on prolonged exposure. The effect may be more pronounced in
									people with lung and heart diseases
								</td>
							</tr>
							<tr style="background-color: #c00000; color: white;">
								<td>401-500 (Severe)</td>
								<td>
									May cause respiratory effects even on healthy people and serious health impacts on people with
									lung/heart diseases. The health impacts may be experienced even during light physical activity
								</td>
							</tr>
						</table>
							
					</div>
					
				</div>
				<script>
				</script>
			</div>
			<p style="margin: 1em;"></p>
		</div>

		<div class="row">

			<div class="col">
				<div id="div5" data-aos="fade-down" data-aos-duration="2500" data-aos-easing="ease-out-cubic"
				  data-aos-mirror="true" data-aos-once="true" style="
					color: white;
					backdrop-filter: blur(4px);
					-webkit-backdrop-filter: blur(4px);
					border-radius: 2em;
					padding: 1em;
					margin: 2.3em;
					margin-right: 1.4em;">
				  <div class="row">
					<h2><strong> Anand Vihar - Historical PM2.5 Trend </strong></h2>
					<div class="col" id="historical_pm25" style="width:fit-content;height:500px;"></div>
				  </div>
				  <script src="https://cdnjs.cloudflare.com/ajax/libs/papaparse/5.3.1/papaparse.min.js"></script>
				  <script src="https://cdn.plot.ly/plotly-2.26.2.min.js"></script>
				  <script>
					document.addEventListener('DOMContentLoaded', () => {
					  const historical_pm25 = document.getElementById('historical_pm25');
			  
					  // Path to the CSV file
					  const csvFileURL = '../Data/ananadvihar(8hr).csv';
			  
					  // Fetch and parse the CSV file
					  fetch(csvFileURL)
						.then(response => response.text())
						.then(csvData => {
						  // Parse the CSV using PapaParse
						  Papa.parse(csvData, {
							header: true, // Parse header row
							skipEmptyLines: true, // Skip empty lines
							complete: function (results) {
							  const parsedData = results.data;
			  
							  // Extract and clean data
							  const trimmedData = parsedData.slice(0, 15); // Limit rows to 15 for display
							  const dates = trimmedData.map(row => row["From Date"]);
							  const pm25 = trimmedData.map(row => row["PM2.5"] !== "None" ? parseFloat(row["PM2.5"]) : null);
			  
							  // Filter out rows with null values
							  const filteredDates = dates.filter((_, index) => pm25[index] !== null);
							  const filteredPm25 = pm25.filter(value => value !== null);
			  
							  // Create the trace for Plotly
							  const trace = {
								x: filteredDates,
								y: filteredPm25,
								mode: 'lines+markers',
								name: 'PM2.5 Trend',
								line: {
								  color: '#FF5733',
								  width: 2
								},
								marker: {
								  size: 6,
								  color: '#FF5733'
								}
							  };
			  
							  const data = [trace];
			  
							  // Layout for the graph
							  const layout = {
								title: {
								  text: 'Anand Vihar 8-hourly PM2.5 Trend',
								  font: {
									size: 20,
									color: 'white'
								  }
								},
								font: {
								  family: 'Arial, sans-serif',
								  size: 14,
								  color: 'white'
								},
								xaxis: {
								  title: 'Date',
								  showgrid: false,
								  color: 'white',
								  type: 'category' // Prevents unwanted date parsing by Plotly
								},
								yaxis: {
								  title: 'PM2.5 (µg/m³)',
								  showgrid: true,
								  color: 'white'
								},
								hoverlabel: {
								  bgcolor: 'black',
								  font: {
									color: 'white',
									size: 16
								  }
								},
								plot_bgcolor: 'rgba(0,0,0,0)',
								paper_bgcolor: 'rgba(0,0,0,0)'
							  };
			  
							  // Render the graph
							  Plotly.newPlot(historical_pm25, data, layout);
							}
						  });
						})
						.catch(error => console.error('Error fetching the CSV file:', error));
					});
				  </script>
				</div>
				<p style="margin: 1em;"></p>
			  </div>

		</div>
		<div class="row">
			<div class="col">
				<div id="div6" data-aos="fade-down" data-aos-duration="2500" data-aos-easing="ease-out-cubic"
					data-aos-mirror="true" data-aos-once="true" style="
					color: white;
					/* background-color: rgb(255 255 255 / 10%); */
					backdrop-filter: blur(4px);
					-webkit-backdrop-filter: blur(4px);
					border-radius: 2em;
					padding: 1em;
					margin: 2.3em;
					margin-right: 1.4em;
					">
					<div class="row">
						<div class="col" style="text-align: center;">
							<div style="background: linear-gradient(to top, #ff6200f2, rgb(0 90 255)); border-radius: 2em; 
								padding: 10px;
								font-size: 18px;
								margin: 0px;
								animation: upAndDown 20s linear infinite alternate;
								margin-bottom: 1em;" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-mirror="true"
								data-aos-once="true" data-aos-duration="1400" class="row">
								<h2 style="color: white;">
									<strong>
										<i class="fas fa-bolt iconRotate"></i> FAQs
									</strong>
								</h2>
								<div data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-mirror="true" data-aos-once="true"
									data-aos-duration="1400" class=" accordion" id="accordionExample1">
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne1">
											<button class="accordion-button FAQs" type="button" data-bs-toggle="collapse"
												data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
												<strong>1. What is the Air Quality Index (AQI)?</strong>
											</button>
										</h2>
										<div id="collapseOne1" class="accordion-collapse collapse show"
											aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
											<div class="accordion-body FAQs">
												The Air Quality Index (AQI) is a numerical scale used to communicate the quality of air in a specific location. 
												It takes into account various air pollutants, such as 
												<ul>
													<li>Particulate matter (PM2.5 and PM10)</li>
													<li>Nitrogen dioxide (NO2)</li>
													<li>Sulfur Dioxide (SO2)</li>
													<li>Carbon Monoxide (CO)</li>
													<li>Ozone (O3)</li>
												</ul>
												to provide an overall assessment of air quality.
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne2">
											<button class="accordion-button FAQs collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="false"
												aria-controls="collapseOne2">
												<strong>2. How is the AQI measured in India?</strong>
											</button>
										</h2>
										<div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingOne2"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body FAQs">
												<ul>
													<li>In India, the AQI is measured based on the concentrations of major air pollutants.</li>
													<li>Each pollutant is assigned an individual Air Quality Index</li>
													<li>The overall AQI is determined by the highest index value among them</li>
													<li>The AQI is categorized into different levels, ranging from "Good" to "Severe" 
														indicating the potential health impacts associated with the air quality.</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne3">
											<button class="accordion-button FAQs collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="false"
												aria-controls="collapseOne3">
												<strong>3. How can individuals protect themselves during poor air quality days?</strong>

											</button>
										</h2>
										<div id="collapseOne3" class="accordion-collapse collapse" aria-labelledby="headingOne3"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body FAQs">
												<ul>
													<li>Limit outdoor activities, especially strenuous ones.</li>
													<li>Use N95 masks to reduce inhalation of pollutants.</li>
													<li>Keep windows and doors closed.</li>
													<li>Plant good quality indoor trees.</li>
													<li>Use air purifiers indoors.</li>
													<li>Stay informed about air quality levels and take necessary precautions.</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne4">
											<button class="accordion-button FAQs collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="false"
												aria-controls="collapseOne4">
												<strong>4. How can I check the current AQI in my area?</strong>
											</button>
										</h2>
										<div id="collapseOne4" class="accordion-collapse collapse" aria-labelledby="headingOne4"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body FAQs">
												<ul>
													<li>The AQI for your area can be checked through various sources, including government websites, 
														mobile apps, and online platforms. Many cities in India have dedicated air quality monitoring stations, 
														and their data is often accessible in real-time.</li>
													<li>However, if you are in AnandVihar, you can check the AQI and the next 5 day's forecast at the top of this page.</li>
												</ul>
												
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne5">
											<button class="accordion-button FAQs collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne5" aria-expanded="false"
												aria-controls="collapseOne5">
												<strong>5. What measures are taken by the government to improve air quality?</strong>
											</button>
										</h2>
										<div id="collapseOne5" class="accordion-collapse collapse" aria-labelledby="headingOne5"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body FAQs">
												Government initiatives may include
												<ul>
													<li>Implementing stricter emission standards</li>
													<li>Promoting public transportation</li>
													<li>Encouraging the use of cleaner energy sources</li>
													<li>Imposing regulations on industries contributing to air pollution</li>
												</ul>
												Additionally, awareness campaigns and citizen participation are crucial components of improving air quality.
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne6">
											<button class="accordion-button FAQs collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne6" aria-expanded="false"
												aria-controls="collapseOne6">
												<strong>6. How can I contribute to improving air quality?</strong>
											</button>
										</h2>
										<div id="collapseOne6" class="accordion-collapse collapse" aria-labelledby="headingOne6"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body FAQs">
												<ul>
													<li>Individuals can contribute by using public transportation.</li>
													<li>Reducing the use of personal vehicles, minimizing the use of fossil fuels, planting trees.</li>
													<li>Participating in community initiatives to raise awareness about air quality issues.</li>
												</ul>
												These FAQs provide a basic understanding of the Air Quality Index 
												and its relevance in the context of India. 
												It's important to stay informed and take necessary actions to 
												protect personal and public health during varying air quality conditions.
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne7">
											<button class="accordion-button FAQs collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne7" aria-expanded="false"
												aria-controls="collapseOne7">
												<strong>7. Additional Resources:</strong>
											</button>
										</h2>
										<div id="collapseOne7" class="accordion-collapse collapse" aria-labelledby="headingOne7"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body FAQs">
												<ul>
													<li>Central Pollution Control Board (CPCB): 
														<a href="https://cpcb.nic.in/" target="_blank" style="text-decoration: underline !important;">
															<strong>https://cpcb.nic.in/</strong>
														</a>
													</li>
													<li>System of Air Quality and Weather Forecasting and Research (SAFAR): 
														<a href="http://safar.tropmet.res.in/" target="_blank" style="text-decoration: underline !important;">
															<strong>http://safar.tropmet.res.in/</strong>
														</a>
													</li>
												</ul> 
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne8">
											<button class="accordion-button FAQs collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne8" aria-expanded="false"
												aria-controls="collapseOne8">
												<strong>8. Indoor Plants for better Air Quality</strong>
											</button>
										</h2>
										<div id="collapseOne8" class="accordion-collapse collapse" aria-labelledby="headingOne8"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body FAQs">
												Indoor plants can help improve air quality by absorbing pollutants and releasing oxygen. Here are some indoor plants known for their air-purifying qualities:
												<ul>
													<li><strong>Spider Plant (Chlorophytum comosum):</strong> 
														Effective in removing pollutants like formaldehyde and xylene. 
														Easy to care for and adapts well to different conditions.
													</li>

													<li><strong>Snake Plant (Sansevieria trifasciata):</strong> 
														Known for its ability to filter out formaldehyde, benzene, 
														and other pollutants. Requires minimal light and water.
													</li>

													<li><strong>Peace Lily (Spathiphyllum spp.):</strong> 
														Excellent in removing common indoor pollutants, including 
														ammonia and benzene. Adds a touch of elegance to indoor spaces.
													</li>

													<li><strong>Aloe Vera (Aloe barbadensis miller):</strong> 
														Known for its ability to clear formaldehyde and benzene. 
														Requires bright, indirect sunlight.
													</li>

													<li><strong>Boston Fern (Nephrolepis exaltata):</strong> 
														Effective in removing pollutants like formaldehyde and 
														xylene. Thrives in high humidity and indirect light.
													</li>

													<li><strong>Rubber Plant (Ficus elastica):</strong> 
														Removes pollutants such as formaldehyde. 
														Tolerant of low light conditions.
													</li>

													<li><strong>Areca Palm (Dypsis lutescens):</strong> 
														Effective in removing formaldehyde, benzene, and 
														trichloroethylene. Adds a tropical touch to indoor spaces.
													</li>

													<li><strong>Dracaena (Dracaena spp.):</strong> 
														Different varieties (e.g., Dracaena marginata, Dracaena reflexa)
														 are effective in removing pollutants. Adaptable to different light conditions.
													</li>

													<li><strong>Bamboo Palm (Chamaedorea seifrizii):</strong> 
														Excellent in removing benzene and trichloroethylene. 
														Well-suited for indoor environments.
													</li>

													<li><strong>Golden Pothos (Epipremnum aureum):</strong> 
														Known for its air-purifying abilities, particularly in removing formaldehyde. 
														Low-maintenance and can thrive in various light conditions.
													</li>
												</ul>

												Remember that while indoor plants can contribute to improved air quality, they are not a substitute for proper ventilation 
												and addressing the root causes of indoor air pollution. Regularly ventilate your living space, minimize the use of 
												synthetic materials, and keep the area clean to create a healthier indoor environment.
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<p style="margin: 1em;"></p>
			</div>
		</div>

		<div class="row">

			<div class="col">
				<div id="div9" data-aos="fade-down" data-aos-duration="2500" data-aos-easing="ease-out-cubic"
					data-aos-mirror="true" data-aos-once="true" style="
					color: white;
					/* background-color: rgb(255 255 255 / 10%); */
					backdrop-filter: blur(4px);
					-webkit-backdrop-filter: blur(4px);
					border-radius: 2em;
					padding: 1em;
					margin: 2.3em;
					margin-right: 1.4em;
					">
					<div class="row">
						<h2>
							<strong>
								Forecast AQI now.
							</strong>
						</h2>
						<br>
						<h4>
							Want to know AQI forecast? Then, checkout my another project <br>
							<a style="text-decoration: underline; font-weight: bold;
							background: linear-gradient(to right, #0033ff, #b6fbff);
							color: white; text-align: center; 
							animation: shine 10s linear infinite;
							-webkit-background-clip: text;
							background-clip: text;
							background-size: 400% 400%;
							font-size: 25px;
							-webkit-text-fill-color: transparent;" href="/" target="_blank">AirCast</a>

						</h4>
						<a href="/" loading="lazy" >
							<img src="{{ url_for('static', filename='img/AirCast Website.png') }}" loading="lazy" alt="" style="border:0; width: -webkit-fill-available; border-radius: 25px;">
						</a>
						<!-- <iframe id="aircast-iframe" src="https://aircastaqi.netlify.app/"
						height="650" style="border:0; width: -webkit-fill-available; border-radius: 25px; " allowfullscreen=""
						loading="lazy" referrerpolicy="no-referrer-when-downgrade">
						</iframe> -->
					</div>
				</div>
				<p style="margin: 1em;"></p>
			</div>

		</div>

		<div class="row">
			<div class="col">
				<div id="div7" data-aos="fade-down" data-aos-duration="2500" data-aos-easing="ease-out-cubic"
					data-aos-mirror="true" data-aos-once="true" style="
					color: white;
					width: fit-content;
					background-color: rgb(255 255 255 / 20%);
					backdrop-filter: blur(4px);
					-webkit-backdrop-filter: blur(4px);
					animation: upAndDown 100s linear alternate;
					border-radius: 2em;
					padding: 1em;
					margin: 2.3em;
					margin-right: 1.4em;
					">
					
					
					<div class="row">
						
						<div class="col" style="font-size: 18px; text-align: left;">
							<h3 style="text-align: center; font-size: 30px; font-weight: bold;">AQI Calculator</h3>
							<ul style="color: #ffffff;">
								<li> <span style="font-weight: bold;">The Story:</span> 
									<ul style="color: white; font-size: 18px;">
										<li>After learning the concepts of ML, writing blogs/posts, hustling on Kaggle,</li>
										<li>I wanted to build my first end-to-end project that too with a good team & environment.</li>
										<li>So, I joined Omdena & started this project.</li>
										<li>Here, I learned the skills first, then did the project.</li>
									</ul>
								</li>
								<li> <span style="font-weight: bold;">Input & Output:</span> Given pollutants as input to the Machine Learning model, predict the Air Quality Index.</li>
								<li>Collaborated with <a href="https://www.omdena.com/projects/analyzing-air-quality-in-gurugram-using-machine-learning" target="_blank" style="text-decoration: underline; color: #307ECC;">Omdena</a>, 
									worked with people across the globe, and led a team of 5 people in Data Collection,
									Exploratory Data Analysis, Model Training & Project Documentation.</li> 
								<!-- <li> <span style="font-weight: bold;">Architecture explanation video:</span> <a href="" target="_blank"></a> </li> -->
								<li> <span style="font-weight: bold;">Algorithm:</span> k Nearest Neighbors (k = 5)</li>
								<li><span style="font-weight: bold;">Data collected from:</span> <a href="https://airquality.cpcb.gov.in/ccr/#/caaqm-dashboard-all/caaqm-landing" target="_blank" style="text-decoration: underline; color: #307ECC;">CPCB</a></li>
								<li> <span style="font-weight: bold;">Dataset type & frequency:</span> Hourly Time Series data with target column as AQI</li>
								<li> <span style="font-weight: bold;">Dataset size:</span> 147531 rows x 31 columns </li>
								<li><span style="font-weight: bold;">Model metrics:</span>
									<ul style="color: #ffffff; font-size: 16px;">
										<li>R-Squared: 0.835</li>
										<!-- <li>Mean Absolute Percentage Error (MAPE): 21.06</li> -->
										<li>Mean Absolute Error (MAE): 30.75</li>
									</ul>
								</li>
								<!-- <li><span style="font-weight: bold;">Timelines:</span> March 2023 - May 2023</li>
								<li><span style="font-weight: bold;">Tech stack:</span> Python, Pandas, Scikit-learn, Matplotlib, Seaborn, Plotly, Flask</li> -->
								

							</ul>
						</div>
					</div>
					<script>
					</script>
				</div>
				<p style="margin: 1em;"></p>
			</div>

		</div>
		<script>

			// Adjust the iframe size when the window is resized
			window.addEventListener('resize', resizeIframe);
		
			function resizeIframe(id, height_p, width_p) {
				var iframe = document.getElementById(id);
				var newHeight = window.innerHeight;
				var newWidth = window.innerWidth;
				if (iframe!=null) {
					iframe.style.height = newHeight*height_p + 'px';
					iframe.style.width = newWidth*width_p + 'px';
				}
			}
		
			ids = ['maps-iframe', 'forecast_aqi', 'historical_aqi']
			resizeIframe('maps-iframe', 0.5);
			// resizeIframe('aircast-iframe', 0.5);			
			resizeIframe('forecast_aqi', 0.5, 0.5);
			resizeIframe('historical_aqi', 0.5, 0.5);
		</script>
		
	</div>

	<div style="backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);">
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
			<defs>
				<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
			</defs>
			<g class="parallax">
				<use xlink:href="#gentle-wave" x="48" y="0" fill="#0d6efd" />
				<use xlink:href="#gentle-wave" x="48" y="3" fill="#0d6efd" />
				<use xlink:href="#gentle-wave" x="48" y="5" fill="#0d6efd" />
				<use xlink:href="#gentle-wave" x="48" y="7" fill="#0d6efd" />
			</g>
		</svg>
	</div>

	<footer class="page-footer font-small unique-color-dark pt-4" style="backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);">
		
		<div class="row" style="margin: 1em; margin-bottom: 0px; padding-bottom: 1em; justify-content: center; 
		text-align: center; color: white;">
			<div class="col">
				Designed & Developed by
				<a class="navbar-brand" href="" target="_blank"
					style="font-size: 23px; background: white; color: black;margin-right: 5px;">Dushyant Kaushal</a>©
				<span id="getCurrentYear"></span>
			</div>
		</div>

	</footer>

	<script>

		var btn = $('#backToTop');

		$(window).scroll(function () {
			if ($(window).scrollTop() > 300) {
				btn.addClass('show');
			} else {
				btn.removeClass('show');
			}
		});
		
		// Update the year in footer
		var currentYear = new Date()
		currentYear = currentYear.getFullYear()
		document.getElementById('getCurrentYear').innerHTML = currentYear

	</script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
	<script src="{{ url_for('static', filename='js/vanilla-tilt.js') }}"></script>
	<script type="text/javascript">

		if (screen.width >= 768) {
			for (let index = 0; index < 14; index++) {
				VanillaTilt.init(document.getElementById("div" + (index + 1)), {
					max: 3,
					perspective: 3000,
					scale: 1.02,
				});
			}
		}
		function loaded() {
			document.getElementById("loading").style.display = "none"
		}
	</script>

</body>

</html>